<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="create.css" />
  </head>
  <body>
    <nav>
      <h2><a href="/">Jay Blog</a></h2>
      <ul>
        <li><a href="/logout">log out</a></li>
      </ul>
    </nav>
    <h1>Create a New Blog</h1>
    <p style="color:red">Select a state</p>

    State:
    <input type="radio" name="state" value="draft" />draft
    <input type="radio" name="state" value="published" />published

    <br />

    <div id="stateID"></div>

    <form class="form-create">
      <input
        type="text"
        name="title"
        class="create"
        required
        placeholder="Blog title"
      />
      <textarea
        name="desc"
        class="desc blog-body"
        required
        placeholder="Brief description"
      ></textarea>
      <textarea
        name="body"
        class="blog-body"
        required
        placeholder="Blog body"
      ></textarea>
      <input type="text" name="tag" class="create" required placeholder="tag" />
      <p>Author: <strong id="author"><%=user.firstName%></strong></p>
      <button>Create</button>
    </form>

    <script>
      const form = document.querySelector("form");
      const author = document.getElementById("author").textContent;
      const btn = document.getElementById("btn");

      form.addEventListener("submit", async (e) => {
        e.preventDefault();
        const title = form.title.value;
        const desc = form.desc.value;
        const body = form.body.value;
        const tag = form.tag.value;
        const state = document.querySelector(
          'input[name ="state"]:checked',
        ).value;
        console.log(title, author, state);
        try {
          const res = await fetch("/blogs", {
            method: "POST",
            body: JSON.stringify({ title, desc, body, author, tag, state }),
            headers: { "Content-Type": "application/json" },
          });
        } catch (err) {
          console.log(err);
        }
        location.assign("/");
      });
    </script>

    <%- include('partials/footer'); -%>
  </body>
</html>
